.boton-rojo {
    background-color: red;
    border-color: #ccc;
}

.boton-azul {
    background-color: blue;
    border-color: #ccc;
}

.boton-verde {
    background-color: green;
    border-color: #ccc;
}

.boton-beige {
    background-color: Tan;
    border-color: #ccc;
}

.boton-rosa {
    background-color: HotPink;
    border-color: #ccc;
}

.boton-violeta {
    background-color: DarkViolet;
    border-color: #ccc;
}